body{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #caa060;
    color: #0a5a0e;
}

h2 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #0c3f0e;
}

h1 {
    text-align: center;
    color: #0c3f0e;
}

nav a:hover{
    background : #4d2409;
    }

nav a{
    color: rgb(27, 90, 11);
    text-decoration:none;
    font-size:18px;
    display:inline-block;
    padding: 10px 20px;
}

header{
    background:#4d2409;
    text-align:center;
    padding : 10px;
  }
    

img{
    width: 150px;
    height: 150px;
    margin: 15px 15px;
    border-radius: 10px;
}

#integrantes1{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

footer{
    text-align:center;
    background:#4d2409;
    color:rgb(27, 90, 11);
    padding: 5px;
    margin-top:5px;
    }

#imagem {
    display: none;
    }

    .clicar {
        cursor: pointer;
        text-decoration: underline;
        background-color: #4d2409;
        width:fit-content;
        color: rgb(27, 90, 11);
    }

    div{
        max-width: 800px;
        margin:20px auto;
        background: rgb(231, 213, 193);
        padding: 20px;
        border-radius:10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

